<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
 <!-- an ISessionFactory instance -->
 <session-factory>
  <!-- properties -->
  <property name="connection.provider">
    NHibernate.Connection.DriverConnectionProvider
  </property> 
  <property name="connection.driver_class">
    NHibernate.Driver.MySqlDataDriver
  </property> 
  <property name="connection.connection_string">
    Server=mysql.agh.edu.pl;Database=urbanek1;User ID=urbanek1;Password=BzQSJsRx;
  </property> 
  <property name="dialect">
    NHibernate.Dialect.MySQLDialect
  </property>
 </session-factory>
</hibernate-configuration>